@import "./utils/variables";
// @import "./utils/functions";
// @import "./utils/mixins";

@import "./base/base";
@import "./base/typography";

// @import "./components/buttons";
@import "./layout/loader";
@import "./layout/header";
@import "./layout/container";
@import "./layout/footer";

@import "./pages/index";
// @import "./pages/delice";
// @import "./pages/francaise";
// @import "./pages/note";
// @import "./pages/palette";
