.step {
  width: 90%;
  font-family: $font-text;
  font-size: 1.1rem;
  margin: auto;
  margin-top: 50px;

  &__title {
    margin-bottom: 35px;
  }

  &__container {
    background-color: rgb(246, 246, 246);
    display: flex;
    align-items: center;
    margin: 25px 0 25px 10px;
    height: 80px;
    border-radius: 25px;
    box-shadow: $box-shadow;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.01);
      background-color: lighten($color: $color-primary, $amount: 35%);
      box-shadow: $box-shadow-hover;
      .step__icon {
        color: $color-primary;
      }
    }
  }
  &__number {
    @include flex-center;
    background-color: $color-primary;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 0.9rem;
    margin-left: -10px;
    line-height: 25px;
  }
  &__icon {
    margin: 0 25px 0 20px;
    color: grey;
    font-size: 1.2rem;
  }
}

.wrapper-menu {
  position: relative;
  margin-top: -4rem;
  height: 100%;
  background: rgb(246, 246, 246);
  padding: 1.2rem 1.2rem 3rem 1.2rem;
  border-radius: 40px 40px 0 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-family: $font-title;
    font-size: 1.8rem;
  }
  &__heart {
    position: absolute;
    right: 0.5rem;
    top: 1.2rem;
    padding: 2px;
    margin-right: 10px;
    font-size: 1.6rem;
    &--solid {
      color: transparent;
      background-image: linear-gradient(
        351deg,
        rgba(147, 86, 220, 1) 0%,
        rgba(255, 121, 218, 1) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
    &--regular {
      opacity: 1;
      background: rgb(246, 246, 246);
      transition: 0.2s ease-in-out;
      &:hover {
        opacity: 0;
      }
    }
  }
}

.menu {
  border: none;
  margin: 0.8rem 0;
  padding: 0;
  &__title {
    font-size: 1.1rem;
    font-weight: 300;
    position: relative;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    @include line;
  }
  &__item {
    @include ellipsis;
    background-color: white;
    margin: 1rem 0;
    height: 4.3rem;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    display: flex;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: $box-shadow-hover;
    }
    &:hover .menu__check {
      margin-right: 0;
    }
    &:hover .menu__price {
      padding-right: 0.8rem;
    }
    &:hover .rotate-center {
      -webkit-animation: rotate-center 0.5s ease-in-out both;
      animation: rotate-center 0.5s ease-in-out both;
    }
  }

  &__container {
    overflow: hidden;
    width: 80%;
    margin: auto 0 auto 0.8rem;
  }

  &__description {
    @include ellipsis;
    padding-bottom: 5px;
    font-size: 1.17em;
    font-weight: bold;
  }
  &__accompagnement {
    @include ellipsis;
    font-weight: 300;
  }
  &__price {
    margin-top: auto;
    margin-left: auto;
    padding: 0 1.5rem 0.7rem 0;
    transition: 0.3s ease-in-out;
  }
  &__check {
    color: white;
    padding-top: 0.2rem;
    font-size: 1.3rem;
    position: relative;
    margin-right: -4rem;
    width: 4rem;
    @include flex-center;
    background-color: $color-tertiary;
    transition: 0.4s ease-in-out;
  }
}
