.footer {
  background-color: rgb(53, 53, 53);
  padding: 1.5rem;
  @media screen and (min-width: $bp-tablette) {
    text-align: center;
    padding-bottom: 2.5rem;
  }
  @media screen and (max-width: $bp-tablette) {
    text-align: center;
  }
  @media screen and (max-width: $bp-mobile) {
    text-align: left;
  }

  &__title {
    font-family: $font-title, sans-serif;
    color: white;
    font-size: 1.1rem;
    margin: 0;
    padding-bottom: 1rem;
    @media screen and (min-width: $bp-tablette) {
      margin: 10px 0 20px 0;
      font-size: 1.8rem;
    }
  }

  &__ul {
    @media screen and (min-width: $bp-tablette) {
      display: flex;
      justify-content: center;
      gap: 5rem;
    }
  }

  &__li {
    color: white;
    padding: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__icon {
    padding-right: 5px;
  }
  &__link {
    color: white !important;
  }
}
