.header {
  position: relative;
}

.logo {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
  text-align: center;
  padding: 25px 0 10px 0;
  background: white;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px 5px 5px #00000025;
    background: white;
  }

  &__header {
    max-width: 45%;
    margin: auto;
    height: auto;
  }
}

.location {
  height: 55px;
  background-color: #eaeaea;
  @include flex-center;
  overflow: hidden;
  &__icon {
    font-size: 1em;
    margin-right: 15px;
  }
  &__title {
    font-family: $font-text;
    color: rgb(26, 26, 26);
  }
}

.section-header {
  background-color: rgb(246, 246, 246);
  padding-top: 11%;
  padding-bottom: 15%;
}
.hero {
  width: 80%;
  height: 24vh;
  margin: auto;
  text-align: center;
  font-family: $font-text;
  max-width: 1000px;

  &__title {
    width: 80%;
    line-height: 1.8rem;
    margin: 0 auto 1rem auto;
  }
  &__text {
    font-weight: 300;
    line-height: 1.4rem;
    font-size: 1.1rem;
    margin-bottom: 10%;
  }
  &__btn {
    cursor: pointer;
    padding: 17px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    @include btn;
    &:hover {
      transform: scale(1.01);
      filter: brightness(1.1);
      box-shadow: $box-shadow-hover;
    }
  }
}
