.header {
  &__arrow {
    position: absolute;
    z-index: 15;
    top: 40%;
    margin-left: 1.5rem;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.logo {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
  text-align: center;
  padding: 25px 0 10px 0;
  background: white;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px 5px 5px #00000025;
    background: white;
  }

  &__header {
    max-width: 160px;
    margin: auto;
    height: auto;
    @media screen and (min-width: $bp-mobile) {
      max-width: 200px;
    }
  }
}

.section-header {
  background-color: rgb(246, 246, 246);
  padding-top: 11%;
  padding-bottom: 15%;
  @media screen and (min-width: $bp-tablette) {
    padding-top: 5%;
  }
}
.hero {
  width: 80%;
  height: 24vh;
  margin: auto;
  text-align: center;
  font-family: $font-text;
  max-width: 1000px;
  @media screen and (min-width: $bp-tablette) {
    height: 10vh;
  }

  &__title {
    width: 80%;
    line-height: 1.8rem;
    margin: 0 auto 1rem auto;
  }
  &__text {
    font-weight: 300;
    line-height: 1.4rem;
    font-size: 1.1rem;
    margin-bottom: 10%;
  }
  &__btn {
    cursor: pointer;
    padding: 17px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    @include btn;
    &:hover {
      transform: scale(1.01);
      filter: brightness(1.1);
      box-shadow: $box-shadow-hover;
    }
  }
}

.hero-banner {
  &__image {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    @media screen and (min-width: $bp-mobile) {
      height: 40vh;
    }
    @media screen and (min-width: $bp-tablette) {
      height: 45vh;
    }
  }
}
