@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.loader {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: rgba(78, 78, 78, 0.8) 0%;
  animation: loader 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  z-index: 50;
}

.wrapper {
  animation: circle 0s ease-out 5s hidden;
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #9356dc;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate 24 ease;
}

.circle2 {
  background-color: #ff79da;
}

.circle3 {
  background-color: #99e2d0;
}

@keyframes loader {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate 24 ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.header {
  position: relative;
}

.logo {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
  text-align: center;
  padding: 25px 0 10px 0;
  background: white;
  z-index: 10;
}
.logo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px 5px 5px #00000025;
  background: white;
}
.logo__header {
  max-width: 45%;
  margin: auto;
  height: auto;
}

.location {
  height: 55px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.location__icon {
  font-size: 1em;
  margin-right: 15px;
}
.location__title {
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}

.section-header {
  background-color: #f6f6f6;
  padding-top: 11%;
  padding-bottom: 15%;
}

.hero {
  width: 80%;
  height: 24vh;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  max-width: 1000px;
}
.hero__title {
  width: 80%;
  line-height: 1.8rem;
  margin: 0 auto 1rem auto;
}
.hero__text {
  font-weight: 300;
  line-height: 1.4rem;
  font-size: 1.1rem;
  margin-bottom: 10%;
}
.hero__btn {
  cursor: pointer;
  padding: 17px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  border-style: none;
  border-radius: 50px;
  box-shadow: 0px 5px 5px 0px #00000018;
  background: #9356dc;
  background: linear-gradient(351deg, #9356dc 0%, #ff79da 100%);
  transition: 0.3s ease-in-out;
}
.hero__btn:hover {
  transform: scale(1.01);
  filter: brightness(1.1);
  box-shadow: 0px 5px 5px 1px #0000002a;
}

.step {
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin: auto;
  margin-top: 50px;
}
.step__title {
  margin-bottom: 35px;
}
.step__container {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  margin: 25px 0 25px 10px;
  height: 80px;
  border-radius: 25px;
  box-shadow: 0px 5px 5px 0px #00000018;
  transition: 0.3s ease-in-out;
}
.step__container:hover {
  transform: scale(1.01);
  background-color: #f2eafb;
  box-shadow: 0px 5px 5px 1px #0000002a;
}
.step__container:hover .step__icon {
  color: #9356dc;
}
.step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 0.9rem;
  margin-left: -10px;
  line-height: 25px;
}
.step__icon {
  margin: 0 25px 0 20px;
  color: grey;
  font-size: 1.2rem;
}

.footer {
  background-color: #353535;
  padding: 1.5rem;
}
.footer__title {
  font-family: "Shrikhand", sans-serif, sans-serif;
  color: white;
  font-size: 1.1rem;
  margin: 0;
  padding-bottom: 1rem;
}
.footer__li {
  color: white;
  padding: 5px;
}
.footer__li:hover {
  text-decoration: underline;
}
.footer__icon {
  padding-right: 5px;
}
.footer__link {
  color: white !important;
}

.item {
  background-color: #f6f6f6;
  width: 100%;
  margin-top: 4rem;
  padding-bottom: 70px;
}
.item__title {
  padding-top: 3.6rem;
  margin-bottom: 1.6rem;
  margin-left: 5%;
  font-size: 1.6rem;
}
.item__restaurants {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.3rem;
}
@media screen and (max-width: 767px) {
  .item__restaurants {
    grid-template-columns: repeat(1, 1fr);
  }
}
.item__restaurants .new {
  position: relative;
}
.item__restaurants .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  line-height: 2rem;
  background-color: #99e2d0;
  color: #278870;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 3px;
  box-shadow: 0px 5px 5px 0px #00000018;
}

.card {
  background-color: white;
  box-shadow: 0px 5px 5px 0px #00000018;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 5px 5px 1px #0000002a;
}
.card__image {
  background-size: cover;
  background-position: bottom;
  height: 12rem;
  width: 100%;
}
.card__image-1 {
  background-image: url("../../public/img/card/image-card-1.jpg");
}
.card__image-2 {
  background-image: url("../../public/img/card/image-card-2.jpg");
}
.card__image-3 {
  background-image: url("../../public/img/card/image-card-3.jpg");
}
.card__image-4 {
  background-image: url("../../public/img/card/image-card-4.jpg");
}
.card__info {
  margin: 15px;
  position: relative;
}
.card__title {
  margin-bottom: 5px;
}
.card__localisation {
  font-weight: 300;
}
.card__heart {
  font-size: 1.6rem;
  position: absolute;
  right: 1rem;
  top: 10%;
  padding: 2px;
}
.card__heart--solid {
  color: transparent;
  background-image: linear-gradient(351deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
}
.card__heart--regular {
  opacity: 1;
  background-color: white;
  transition: 0.2s ease-in-out;
}
.card__heart--regular:hover {
  opacity: 0;
}

.wrapper-menu {
  position: relative;
  margin-top: -4rem;
  height: 100%;
  background: #f6f6f6;
  padding: 1.2rem 1.2rem 3rem 1.2rem;
  border-radius: 40px 40px 0 0;
}
.wrapper-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-menu__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8rem;
}
.wrapper-menu__heart {
  position: absolute;
  right: 0.5rem;
  top: 1.2rem;
  padding: 2px;
  margin-right: 10px;
  font-size: 1.6rem;
}
.wrapper-menu__heart--solid {
  color: transparent;
  background-image: linear-gradient(351deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
}
.wrapper-menu__heart--regular {
  opacity: 1;
  background: #f6f6f6;
  transition: 0.2s ease-in-out;
}
.wrapper-menu__heart--regular:hover {
  opacity: 0;
}

input {
  opacity: 0;
  position: absolute;
}

input[type=checkbox]:checked + label span {
  background-color: yellow;
}

.span {
  display: block;
}

.menu {
  border: none;
  margin: 0.8rem 0;
  padding: 0;
}
.menu__title {
  font-size: 1.1rem;
  font-weight: 300;
  position: relative;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.menu__title::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 3px;
  background-color: #99e2d0;
  bottom: -0.4rem;
}
.menu__item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  margin: 1rem 0;
  height: 4.3rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 5px 0px #00000018;
  display: flex;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.menu__item:hover {
  box-shadow: 0px 5px 5px 1px #0000002a;
}
.menu__item:hover .menu__check {
  margin-right: 0;
}
.menu__item:hover .menu__price {
  padding-right: 0.8rem;
}
.menu__item:hover .rotate-center {
  -webkit-animation: rotate-center 0.5s ease-in-out both;
  animation: rotate-center 0.5s ease-in-out both;
}
.menu__container {
  overflow: hidden;
  width: 80%;
  margin: auto 0 auto 0.8rem;
}
.menu__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 5px;
  font-size: 1.17em;
  font-weight: bold;
}
.menu__accompagnement {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.menu__price {
  margin-top: auto;
  margin-left: auto;
  padding: 0 1.5rem 0.7rem 0;
  transition: 0.3s ease-in-out;
}
.menu__check {
  color: white;
  padding-top: 0.2rem;
  font-size: 1.3rem;
  position: relative;
  margin-right: -4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  transition: 0.4s ease-in-out;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.button-sub {
  margin-top: 2.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.button-sub__btn {
  cursor: pointer;
  padding: 15px 50px;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  border-style: none;
  border-radius: 50px;
  box-shadow: 0px 5px 5px 0px #00000018;
  background: #9356dc;
  background: linear-gradient(351deg, #9356dc 0%, #ff79da 100%);
  transition: 0.3s ease-in-out;
}
.button-sub__btn:hover {
  transform: scale(1.01);
  filter: brightness(1.1);
  box-shadow: 0px 5px 5px 1px #0000002a;
}

.slide-top--1 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.2s;
}
.slide-top--2 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.4s;
}
.slide-top--3 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.6s;
}
.slide-top--4 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.8s;
}
.slide-top--5 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}
.slide-top--6 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.2s;
}
.slide-top--7 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.4s;
}
.slide-top--8 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.6s;
}
.slide-top--9 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.8s;
}
.slide-top--10 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2s;
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.header__arrow {
  position: absolute;
  z-index: 15;
  top: 50%;
  transform: translateY(-30%);
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.hero-banner__image {
  width: 100%;
  height: 35vh;
  background-size: center/cover;
}

.wrapper-menu {
  position: relative;
  margin-top: -4rem;
  height: 100%;
  background: #f6f6f6;
  padding: 1.2rem 1.2rem 3rem 1.2rem;
  border-radius: 40px 40px 0 0;
}
.wrapper-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-menu__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8rem;
}
.wrapper-menu__heart {
  position: absolute;
  right: 0.5rem;
  top: 1.2rem;
  padding: 2px;
  margin-right: 10px;
  font-size: 1.6rem;
}
.wrapper-menu__heart--solid {
  color: transparent;
  background-image: linear-gradient(351deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
}
.wrapper-menu__heart--regular {
  opacity: 1;
  background: #f6f6f6;
  transition: 0.2s ease-in-out;
}
.wrapper-menu__heart--regular:hover {
  opacity: 0;
}

input {
  opacity: 0;
  position: absolute;
}

input[type=checkbox]:checked + label span {
  background-color: yellow;
}

.span {
  display: block;
}

.menu {
  border: none;
  margin: 0.8rem 0;
  padding: 0;
}
.menu__title {
  font-size: 1.1rem;
  font-weight: 300;
  position: relative;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.menu__title::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 3px;
  background-color: #99e2d0;
  bottom: -0.4rem;
}
.menu__item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  margin: 1rem 0;
  height: 4.3rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 5px 0px #00000018;
  display: flex;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.menu__item:hover {
  box-shadow: 0px 5px 5px 1px #0000002a;
}
.menu__item:hover .menu__check {
  margin-right: 0;
}
.menu__item:hover .menu__price {
  padding-right: 0.8rem;
}
.menu__item:hover .rotate-center {
  -webkit-animation: rotate-center 0.5s ease-in-out both;
  animation: rotate-center 0.5s ease-in-out both;
}
.menu__container {
  overflow: hidden;
  width: 80%;
  margin: auto 0 auto 0.8rem;
}
.menu__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 5px;
  font-size: 1.17em;
  font-weight: bold;
}
.menu__accompagnement {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
}
.menu__price {
  margin-top: auto;
  margin-left: auto;
  padding: 0 1.5rem 0.7rem 0;
  transition: 0.3s ease-in-out;
}
.menu__check {
  color: white;
  padding-top: 0.2rem;
  font-size: 1.3rem;
  position: relative;
  margin-right: -4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  transition: 0.4s ease-in-out;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.button-sub {
  margin-top: 2.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.button-sub__btn {
  cursor: pointer;
  padding: 15px 50px;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  border-style: none;
  border-radius: 50px;
  box-shadow: 0px 5px 5px 0px #00000018;
  background: #9356dc;
  background: linear-gradient(351deg, #9356dc 0%, #ff79da 100%);
  transition: 0.3s ease-in-out;
}
.button-sub__btn:hover {
  transform: scale(1.01);
  filter: brightness(1.1);
  box-shadow: 0px 5px 5px 1px #0000002a;
}

.slide-top--1 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.2s;
}
.slide-top--2 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.4s;
}
.slide-top--3 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.6s;
}
.slide-top--4 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.8s;
}
.slide-top--5 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}
.slide-top--6 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.2s;
}
.slide-top--7 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.4s;
}
.slide-top--8 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.6s;
}
.slide-top--9 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.8s;
}
.slide-top--10 {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2s;
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
