.item {
  background-color: rgb(246, 246, 246);
  width: 100%;
  margin-top: 4rem;
  padding-bottom: 70px;
  &__title {
    padding-top: 3.6rem;
    margin-bottom: 1.6rem;
    margin-left: 5%;
    font-size: 1.6rem;
  }
  &__restaurants {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.3rem;
    @media screen and (max-width: $bp-mobile) {
      grid-template-columns: repeat(1, 1fr);
    }

    .new {
      position: relative;
    }
    .new::before {
      content: "Nouveau";
      position: absolute;
      height: 2rem;
      width: 5rem;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 40%);
      @include flex-center;
      right: 1rem;
      top: 1rem;
      border-radius: 3px;
      box-shadow: $box-shadow;
    }
  }
}

.card {
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.01);
    box-shadow: $box-shadow-hover;
  }
  &__image {
    background-size: cover;
    height: 12rem;
    width: 100%;
  }

  @include boucle;

  &__info {
    margin: 15px;
    position: relative;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__localisation {
    font-weight: 300;
  }

  &__heart {
    font-size: 1.6rem;
    position: absolute;
    right: 1rem;
    top: 10%;

    &--solid {
      color: transparent;
      background-image: linear-gradient(
        351deg,
        rgba(147, 86, 220, 1) 0%,
        rgba(255, 121, 218, 1) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
    &--regular {
      opacity: 1;
      background-color: white;
      transition: 0.2s ease-in-out;
      &:hover {
        opacity: 0;
      }
    }
  }
}
