.item {
  background-color: rgb(246, 246, 246);
  width: 100%;
  margin-top: 4rem;
  padding-bottom: 50px;
  &__title {
    padding-top: 3.6rem;
    margin-bottom: 1.6rem;
    margin-left: 5%;
    font-size: 1.6rem;
  }
  &__restaurants {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.3rem;
    @media screen and (max-width: $bp-mobile) {
      grid-template-columns: repeat(1, 1fr);
    }

    .new {
      position: relative;
    }
    .new::before {
      content: "Nouveau";
      position: absolute;
      height: 2rem;
      width: 5rem;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 40%);
      display: flex;
      justify-content: center;
      align-items: center;
      right: 1rem;
      top: 1rem;
      border-radius: 3px;
      box-shadow: $box-shadow;
    }
  }
}

.card {
  box-shadow: $box-shadow;
  border-radius: 20px;
  overflow: hidden;
  &__image {
    background-size: cover;
    height: 11rem;
    width: 100%;
  }
  @for $i from 1 through 4 {
    &__image-#{$i} {
      background-image: url("../../public/img/card/image-card-#{$i}.jpg");
    }
  }

  &__info {
    margin: 15px;
    position: relative;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__localisation {
    font-weight: 300;
  }

  &__heart {
    font-size: 1.6rem;
    position: absolute;
    right: 1rem;
    top: 10%;
  }
}
