.header {
  position: relative;
}

.localisation {
  height: 55px;
  background-color: #eaeaea;
  @include flex-center;
  &__form {
    margin-left: 1rem;
  }
  &__icon {
    font-size: 1em;
    margin-right: 50px;
  }
  &__title {
    width: 10rem;
    font-family: $font-text;
    color: rgb(26, 26, 26);
    border: none;
    background: transparent;
    padding: 10px;
    margin-left: 0.3rem;
    &:focus {
      outline: 1px solid $color-primary;
      border-radius: 10px;
    }
    @media screen and (max-width: 330px) {
      width: 8.5rem;
      margin-left: 0;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.step {
  width: 90%;
  font-family: $font-text;
  font-size: 1.1rem;
  margin: auto;
  margin-top: 50px;
  &__wrapper {
    @media screen and (min-width: $bp-tablette) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
    @media screen and (max-width: $bp-tablette) {
      width: 70%;
      margin: auto;
    }
    @media screen and (max-width: $bp-mobile) {
      width: 90%;
      margin: auto;
    }
  }

  &__title {
    margin-bottom: 35px;
  }

  &__container {
    background-color: rgb(246, 246, 246);
    display: flex;
    align-items: center;
    margin: 25px 0 25px 10px;
    height: 80px;
    border-radius: 25px;
    box-shadow: $box-shadow;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.01);
      background-color: lighten($color: $color-primary, $amount: 35%);
      box-shadow: $box-shadow-hover;
      .step__icon {
        color: $color-primary;
      }
    }
    @media screen and (min-width: $bp-tablette) {
      width: 30%;
      font-size: 1rem;
    }
    @media screen and (max-width: 370px) {
      width: 100%;
      font-size: 0.9rem;
    }
  }
  &__number {
    @include flex-center;
    background-color: $color-primary;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 0.9rem;
    margin-left: -10px;
    line-height: 25px;
  }
  &__icon {
    margin: 0 25px 0 20px;
    color: grey;
    font-size: 1.2rem;
    @media screen and (max-width: 350px) {
      margin: 0 10px 0 8px;
    }
    @media screen and (max-width: 1050px) {
      margin: 0 10px 0 8px;
    }
    @media screen and (max-width: $bp-tablette) {
      margin: 0 25px 0 20px;
    }
  }
  &__text {
    margin-right: 20px;
  }
}

.item {
  background-color: rgb(246, 246, 246);
  width: 100%;
  margin-top: 4rem;
  padding-bottom: 70px;
  &__title {
    padding-top: 3.6rem;
    margin-bottom: 1.6rem;
    margin-left: 5%;
    font-size: 1.6rem;
    @media screen and (min-width: $bp-tablette) {
      text-align: center;
      font-size: 2rem;
      padding-top: 3rem;
      margin-bottom: 3rem;
      margin-left: 0;
    }
  }
  &__restaurants {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.3rem;
    max-width: 1300px;
    @media screen and (max-width: $bp-mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (min-width: $bp-tablette) {
      gap: 2rem;
    }

    .new {
      position: relative;
    }
    .new::before {
      content: "Nouveau";
      position: absolute;
      height: 2rem;
      width: 5rem;
      line-height: 2rem;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 40%);
      @include flex-center;
      right: 1rem;
      top: 1rem;
      border-radius: 3px;
      box-shadow: $box-shadow;
    }
  }
}

.card {
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.01);
    box-shadow: $box-shadow-hover;
  }
  &__image {
    background-size: cover;
    background-position: bottom;
    height: 12rem;
    width: 100%;
    @media screen and (min-width: $bp-tablette) {
      height: 16rem;
    }
  }

  @include boucle;

  &__info {
    margin: 15px;
    position: relative;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__localisation {
    font-weight: 300;
  }

  &__heart {
    font-size: 1.6rem;
    position: absolute;
    right: 1rem;
    top: 10%;
    padding: 2px;
    @include heart;
  }
}
