.header {
  &__arrow {
    position: absolute;
    z-index: 15;
    top: 50%;
    transform: translateY(-30%);
    margin-left: 1.5rem;
    font-size: 1.3rem;
  }
}

.slide-top {
  @for $i from 1 through 10 {
    &--#{$i} {
      @include slide;
      animation-delay: ($i * 0.2s);
    }
  }
}
