.header {
  &__arrow {
    position: absolute;
    z-index: 15;
    top: 50%;
    transform: translateY(-30%);
    margin-left: 1.5rem;
    font-size: 1.3rem;
  }
}

.hero-banner {
  &__image {
    width: 100%;
    height: 35vh;
    background-size: center/cover;
  }
}

.wrapper-menu {
  position: relative;
  margin-top: -4rem;
  height: 100%;
  background: rgb(246, 246, 246);
  padding: 1.2rem 1.2rem 3rem 1.2rem;
  border-radius: 40px 40px 0 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-family: $font-title;
    font-size: 1.8rem;
  }
  &__heart {
    position: absolute;
    right: 0.5rem;
    top: 1.2rem;
    padding: 2px;
    margin-right: 10px;
    font-size: 1.6rem;
    &--solid {
      color: transparent;
      background-image: linear-gradient(
        351deg,
        rgba(147, 86, 220, 1) 0%,
        rgba(255, 121, 218, 1) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
    &--regular {
      opacity: 1;
      background: rgb(246, 246, 246);
      transition: 0.2s ease-in-out;
      &:hover {
        opacity: 0;
      }
    }
  }
}

input {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"]:checked + label span {
  background-color: yellow;
}

.span {
  display: block;
}

.menu {
  border: none;
  margin: 0.8rem 0;
  padding: 0;
  &__title {
    font-size: 1.1rem;
    font-weight: 300;
    position: relative;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    @include line;
  }
  &__item {
    background-color: white;
    margin: 1rem 0;
    height: 4.3rem;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    display: flex;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.01);
      box-shadow: $box-shadow-hover;
    }
    &:hover .menu__check {
      margin-right: 0;
    }
    &:hover .menu__price {
      padding-right: 0.8rem;
    }
    &:hover .rotate-center {
      -webkit-animation: rotate-center 0.5s ease-in-out both;
      animation: rotate-center 0.5s ease-in-out both;
    }
  }

  &__container {
    width: 80%;
    margin: auto 0 auto 0.8rem;
  }

  &__description {
    @include ellipsis;
    padding-bottom: 5px;
    font-size: 1.17em;
    font-weight: bold;
  }
  &__accompagnement {
    @include ellipsis;
    font-weight: 300;
  }
  &__price {
    margin-top: auto;
    margin-left: auto;
    padding: 0 1.5rem 0.7rem 0;
    transition: 0.3s ease-in-out;
  }
  &__check {
    color: white;
    padding-top: 0.2rem;
    font-size: 1.3rem;
    position: relative;
    margin-right: -4rem;
    width: 4rem;
    @include flex-center;
    background-color: $color-tertiary;
    transition: 0.4s ease-in-out;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.button-sub {
  margin-top: 2.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  &__btn {
    cursor: pointer;
    padding: 15px 50px;
    font-size: 1.1rem;
    font-weight: 500;
    @include btn;
    &:hover {
      transform: scale(1.01);
      filter: brightness(1.1);
      box-shadow: $box-shadow-hover;
    }
  }
}
