@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  color: white;
  border-style: none;
  border-radius: 50px;
  box-shadow: $box-shadow;
  background: rgb(147, 86, 220);
  background: linear-gradient(
    351deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  transition: 0.3s ease-in-out;
}

@mixin boucle {
  @for $i from 1 through 4 {
    &__image-#{$i} {
      background-image: url("../../public/img/card/image-card-#{$i}.jpg");
    }
  }
}

@mixin heart {
  &--solid {
    color: transparent;
    background-image: linear-gradient(
      351deg,
      rgba(147, 86, 220, 1) 0%,
      rgba(255, 121, 218, 1) 100%
    );
    background-clip: text;
  }
  &--regular {
    opacity: 1;
    background-color: white;
    transition: 0.2s ease-in-out;
    &:hover {
      opacity: 0;
    }
  }
}

@mixin line {
  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 3px;
    background-color: $color-tertiary;
    bottom: -0.4rem;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin slide {
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@mixin checked {
  box-shadow: $box-shadow-hover;
  .menu__check {
    margin-right: 0;
  }
  .menu__price {
    padding-right: 0.8rem;
  }
  .rotate-center {
    animation: rotate-center 0.5s ease-in-out both;
  }
}
