@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin boucle {
  @for $i from 1 through 4 {
    &__image-#{$i} {
      background-image: url("../../public/img/card/image-card-#{$i}.jpg");
    }
  }
}

@mixin line {
  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 3px;
    background-color: $color-tertiary;
    bottom: -0.4rem;
  }
}
