@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$font-text: "Roboto", sans-serif;
$font-title: "Shrikhand", sans-serif;

$box-shadow: 0px 5px 5px 0px #00000018;
$box-shadow-hover: 0px 5px 5px 1px #0000002a;
$bp-mobile: 767px;
